<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
<div id ="grid-gallery">
  <title> Dan's galleries</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
<div id= "container"> 
    <div id = "gallery">
    div< id = "gallery oz"

<header> </header>
<main> 

{ body 
  background-color: midnight blue;
  text-color: silver;
}

container {
background-color: gray;
width: 88%;
height: 756px;