#body { 
background-color: gray;
} 
#header { clolor: whitesmoke; 
}        font-size: 25px;
 { #main color: green;
 } 
 #footer { color:yellowgreen
          font-size: 18px;
#special


<!_____inline css example__>>> 
<p style "font-family:'Helvetica', sans-serif;"